<template>
  <div>
    <NavBar />
    <v-container class="my-10">
      <v-row>
        <v-col cols="12" sm="12">
          <h1 class="">ABOUT ONCOSTATION</h1>
        </v-col>
      </v-row>
      <v-row class="mt-10">
        <v-col cols="12" sm="6">
          <h2 class="font-weight-medium">Our Story</h2>
          <h3 class="font-weight-light">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eum
            pariatur natus eligendi, eveniet unde debitis sint, repellendus
            culpa similique temporibus corporis qui quia, quo fugiat error.
            Dignissimos, earum consequuntur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eum
            pariatur natus eligendi, eveniet unde debitis sint, repellendus
            culpa similique temporibus corporis qui quia, quo fugiat error.
          </h3>
        </v-col>
        <v-col cols="12" sm="6">
          <v-img width="80%" src="@/assets/hero1.jpg"></v-img>
        </v-col>
      </v-row>

      <v-row class="mt-15">
        <v-col cols="12" sm="6">
          <v-img width="80%" src="@/assets/hero1.jpg"></v-img>
        </v-col>
        <v-col cols="12" sm="6">
          <h2 class="font-weight-medium">Our mission</h2>
          <h3 class="font-weight-light">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eum
            pariatur natus eligendi, eveniet unde debitis sint, repellendus
            culpa similique temporibus corporis qui quia, quo fugiat error.
            Dignissimos, earum consequuntur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eum
            pariatur natus eligendi, eveniet unde debitis sint, repellendus
            culpa similique temporibus corporis qui quia, quo fugiat error.
          </h3>
        </v-col>
      </v-row>
    </v-container>
    <Footer />
  </div>
</template>

<script>
import NavBar from '@/components/NavBar.vue'
import Footer from '@/components/Footer.vue'
export default {
  components: { NavBar, Footer },
};
</script>

<style></style>
