<template>
  <div>
    <admin-bar />
    <v-container class="pa-8">
      <v-row>
        <v-col cols="12" sm="12">
          <h3>Dashboard</h3>
        </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="3">
        <v-card class="pa-3 red lighten-1" flat dark>
          <v-row>
            <v-col cols="12" sm="4">
              <h1 class="text-h3 font-weight-bold">02</h1>
            </v-col>
            <v-col cols="12" sm="8">
              <h3 class="font-weight-regular">Pending <br> Appointments</h3>
            </v-col>
          </v-row>
        </v-card>
      </v-col>

      <v-col cols="12" sm="3">
        <v-card class="pa-3 blue lighten-1" flat dark>
          <v-row>
            <v-col cols="12" sm="4">
              <h1 class="text-h3 font-weight-bold">02</h1>
            </v-col>
            <v-col cols="12" sm="8">
              <h3 class="font-weight-regular">Today's <br> Appointments</h3>
            </v-col>
          </v-row>
        </v-card>
      </v-col>

      <v-col cols="12" sm="3">
        <v-card class="pa-3 green lighten-1" flat dark>
          <v-row>
            <v-col cols="12" sm="4">
              <h1 class="text-h3 font-weight-bold">02</h1>
            </v-col>
            <v-col cols="12" sm="8">
              <h3 class="font-weight-regular">Total <br> Appointments</h3>
            </v-col>
          </v-row>
        </v-card>
      </v-col>

      <v-col cols="12" sm="3">
        <v-card class="pa-3 orange lighten-1" flat dark>
          <v-row>
            <v-col cols="12" sm="4">
              <h1 class="text-h3 font-weight-bold">02</h1>
            </v-col>
            <v-col cols="12" sm="8">
              <h3 class="font-weight-regular">Today's <br> Patients</h3>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="12">
        <v-card class="pa-5 mt-7 grey lighten-4" flat>
          <v-row>
            <v-col cols="12" sm="12">
              <AppointmentTable />
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    </v-container>
  </div>
</template>

<script>
import AdminBar from "@/components/AdminBar.vue"
import AppointmentTable from '@/components/AppointmentTable.vue'

export default 
 {
    components: { AdminBar, AppointmentTable },
}
</script>

<style>

</style>