<template>
  <div>
    <admin-bar />
    <v-container class="pa-8">
      <v-row>
        <v-col cols="12" sm="12">
          <h3>Patients</h3>
        </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="12">
        <v-card class="pa-5 mt-7 grey lighten-4" flat>
          <v-row>
            <v-col cols="12" sm="12">
              <PatientsTable />
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    </v-container>
  </div>
</template>

<script>
import AdminBar from "@/components/AdminBar.vue"
import PatientsTable from '@/components/PatientsTable.vue'

export default 
 {
    components: { AdminBar, PatientsTable },
}
</script>

<style>

</style>