<template>
  <div>
    <admin-bar />
    <v-container class="pa-8">
        <v-row>
        <v-col cols="12" sm="12">
          <h3>Appointments</h3>
        </v-col>
    </v-row>
    <v-row>
        <v-col cols="12" sm="6">
            <v-card class="pa-5 grey lighten-4" flat>
                <calendar />
            </v-card>
        </v-col>

        <v-col cols="12" sm="6">
            <v-card class="pa-5 grey lighten-4" flat>
                <v-row>
                  <v-col cols="12" sm="12">
                    <patient-app-table />
                  </v-col>
                </v-row>
            </v-card>
        </v-col>
    </v-row>
    </v-container>
  </div>
</template>

<script>
import AdminBar from '@/components/AdminBar.vue'
import Calendar from '@/components/Calendar.vue'
import PatientAppTable from '@/components/PatientAppTable.vue'
export default {
  components: { AdminBar, Calendar, PatientAppTable },

}
</script>

<style>

</style>