<template>
  <div>
    <nav-bar />

    <v-container class="my-10">
      <v-row>
        <v-col cols="12" sm="6">
          <h1 style="color: #2e374e">Appointment</h1>
          <v-card class="mt-5 pa-1">
            <calendar />
          </v-card>
        </v-col>
        <v-col cols="12" sm="6" class="px-10 pt-15">
          <v-img src="@/assets/hero2.jpg" class="mt-15"></v-img>
        </v-col>
      </v-row>
      <!-- Available Appointments -->
      <v-row class="text-center mt-10">
        <v-col cols="12" sm="12">
          <h1 style="color: #2e374e">Schedule an Appointments</h1>
        </v-col>
        <v-col cols="12" sm="2"></v-col>
        <v-col cols="12" sm="8">
          <v-card class="pa-5 text-center" outlined>
            <h3 style="color: #2e374e">Your Appointment</h3>
            <v-form class="mt-7">
              <v-text-field
                v-model="name"
                label="Your Name"
                dense
                outlined
              ></v-text-field>

              <v-text-field
                v-model="phoneNumber"
                label="Phone Number"
                dense
                outlined
              ></v-text-field>

              <v-text-field
                v-model="email"
                label="Email"
                dense
                outlined
              ></v-text-field>

              <v-select
                v-model="appointment"
                :items="service"
                label="Appointment"
                dense
                outlined
              ></v-select>

              <v-select
                v-model="appointmentType"
                :items="type"
                label="Appointment Type"
                dense
                outlined
              ></v-select>

              <v-text-field
              label="select date"
              type="date"
                v-model="date"
                dense
                outlined
              ></v-text-field>

              <v-text-field
              label="Select Time"
              type="time"
                v-model="time"
                dense
                outlined
              ></v-text-field>

              <v-btn dark width="30vw" class="rounded-0" style="background-color:#2e374e" @click="dialog = true">Send</v-btn>
              <v-dialog v-model="dialog" width="500px">
                <v-card class="pa-5 text-center">
                  <h3>
                    You have successfully created an appointment
                  </h3>
                  <h4 class="grey--text font-weight-regular mt-5">
                    click the link bellow to start your appointment!!
                  </h4>
                  <v-btn class="mt-5 green" dark to="/videocall">Start Appointment</v-btn>
                </v-card>
              </v-dialog>
            </v-form>
          </v-card>
        </v-col>
        <v-col cols="12" sm="2"></v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar.vue";
import Calendar from "@/components/Calendar.vue";
export default {
  components: { NavBar, Calendar },
  data: () => ({
    service: ["Consultancy", "Checkup", "Treatment"],
    type: ["Video Chat"],
    dialog: false,
  }),
};
</script>

<style></style>
