<template>
  <div>
    <nav-bar />

    <!-- Hero -->
    <div>
      <v-container class="my-15">
        <v-row>
          <v-col cols="12" sm="4">
            <h2
              class="text-h3 font-weight-bold"
              style="color: #293040; line-height: 4.5rem"
            >
              Your New Smile
              <br />
              Starts Here
            </h2>
            <h4 class="font-weight-light mt-5" style="color: rgb(86, 89, 97)">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti
              voluptatem impedit facilis temporibus minus recusandae doloribus.
            </h4>
            <v-btn
              class="mt-10 rounded-0"
              large
              dark
              style="background-color: #708cc1"
              elevation="0"
              to="/appointments"
            >
              GET APPOINTMENT
            </v-btn>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="12" sm="7">
            <v-card flat>
              <v-img src="../assets/hero3.jpg" width="100vh"> </v-img>
            </v-card>
          </v-col>
        </v-row>

        <!-- detail section -->
        <v-row class="pa-15 px-0 pb-0">
          <v-col cols="12" sm="4">
            <v-card
              link
              style="background-color: #708cc1"
              class="pa-5 my-15 px-10"
              flat
              dark
            >
              <v-row>
                <v-col cols="12" sm="4">
                  <v-icon size="70"> mdi-clock-time-three-outline </v-icon>
                </v-col>
                <v-col cols="12" sm="8">
                  <h4>Opening Hours</h4>
                  <h5 class="font-weight-light">
                    Lorem ipsum is simply dummy text of the pri
                  </h5>
                </v-col>
              </v-row>
            </v-card>
          </v-col>

          <v-col cols="12" sm="4">
            <v-card
              link
              style="background-color: #3a4256"
              class="pa-5 my-15 px-10"
              flat
              dark
            >
              <v-row>
                <v-col cols="12" sm="4">
                  <v-icon size="70"> mdi-map-marker </v-icon>
                </v-col>
                <v-col cols="12" sm="8">
                  <h4>Visit our location</h4>
                  <h5 class="font-weight-light">
                    Brooklyn, NY 10036, United States
                  </h5>
                </v-col>
              </v-row>
            </v-card>
          </v-col>

          <v-col cols="12" sm="4">
            <v-card
              link
              style="background-color: #708cc1"
              class="pa-5 my-15 px-10"
              flat
              dark
            >
              <v-row>
                <v-col cols="12" sm="4">
                  <v-icon size="70"> mdi-phone-in-talk-outline </v-icon>
                </v-col>
                <v-col cols="12" sm="8">
                  <h4>Conact us now</h4>
                  <h5 class="font-weight-light">+000 123 456789</h5>
                  <h5 class="font-weight-light">+000 123 456789</h5>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>

        <!-- our services -->
        <v-row>
          <v-col cols="12" sm="12" class="text-center">
            <h3 style="color: #708cc1" class="font-weight-bold">
              OUR SERVICES
            </h3>
            <h1 style="color: #293040" class="text-h3 font-weight-medium mt-5">
              Services We Provide
            </h1>
          </v-col>
        </v-row>

        <v-row class="mt-15">
          <v-col cols="12" sm="4">
            <v-card light class="pa-6 text-center" color="transparent" flat>
              <v-icon color="#708cc1" size="70"> mdi-stethoscope </v-icon>
              <h3 class="font-weight-medium mt-5" style="color: #293040">
                Treatment
              </h3>
              <h5 class="font-weight-regular mt-5" style="color: #404758">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                deserunt eos blanditiis? Mollitia molestiae temporibus.
              </h5>
            </v-card>
          </v-col>

          <v-col cols="12" sm="4">
            <v-card light class="pa-6 text-center" color="transparent" flat>
              <v-icon color="#708cc1" size="70"> mdi-stethoscope </v-icon>
              <h3 class="font-weight-medium mt-5" style="color: #293040">
                Consultancy
              </h3>
              <h5 class="font-weight-regular mt-5" style="color: #404758">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                deserunt eos blanditiis? Mollitia molestiae temporibus.
              </h5>
            </v-card>
          </v-col>

          <v-col cols="12" sm="4">
            <v-card light class="pa-6 text-center" color="transparent" flat>
              <v-icon color="#708cc1" size="70"> mdi-stethoscope </v-icon>
              <h3 class="font-weight-medium mt-5" style="color: #293040">
                Check-up
              </h3>
              <h5 class="font-weight-regular mt-5" style="color: #404758">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                deserunt eos blanditiis? Mollitia molestiae temporibus.
              </h5>
            </v-card>
          </v-col>
        </v-row>

        <!-- About us -->
        <v-row class="mt-15 pt-15">
          <v-col cols="12" sm="5">
            <v-img src="@/assets/about_us.jpg"></v-img>
          </v-col>
          <v-col cols="12" sm="7">
            <h1 class="text-h3 font-weight-medium mt-5" style="color: #293040">
              About Us
            </h1>
            <h3
              class="mt-5 font-weight-regular"
              style="line-height: 2rem; color: #6a7188"
            >
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi
              accusamus iure veniam quo, provident alias culpa ab error, saepe
              placeat aut eligendi dolore? Velit itaque neque, nobis vitae magni
              hic.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi
              accusamus iure veniam quo, provident alias culpa ab error, saepe
              placeat aut eligendi dolore? Velit itaque neque, nobis vitae magni
              hic.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi
              accusamus iure veniam quo, provident alias culpa ab error, saepe
              placeat aut eligendi dolore? Velit itaque neque, nobis vitae magni
              hic.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi
              accusamus iure veniam quo, provident alias culpa ab error, saepe
              placeat aut eligendi dolore? Velit itaque neque, nobis vitae magni
              hic.
            </h3>
            <v-btn
              class="mt-15 rounded-0"
              large
              dark
              style="background-color: #708cc1"
              elevation="0"
            >
              Learn more
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
      <!-- Appointment -->
      <div class="pa-15 mt-15 py-10" style="background-color: #404758">
        <v-container>
          <v-card dark class="transparent" flat>
            <v-row class="px-15">
              <v-col cols="12" sm="3">
                <v-img src="@/assets/appointment3.jpg"></v-img>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" sm="7">
                <h3 style="color: #708cc1">APPOINTMENT</h3>
                <h1 class="text-h3" style="line-height: 4.5rem">
                  Make an appointment <br />
                  Today
                </h1>
                <h3 class="font-weight-regular">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Expedita voluptatum, numquam ad delectus voluptas nemo
                  similique
                </h3>
                <v-btn
                  class="mt-15 rounded-0"
                  large
                  dark
                  style="background-color: #708cc1"
                  elevation="0"
                  to="/appointments"
                >
                  Learn more
                </v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-container>
      </div>

      <!-- Testimonial -->
      <div>
        <v-container>
          <h3 style="color: #708cc1" class="mt-15 font-weight-bold">
            TESTIMONIAL
          </h3>
          <h1 class="text-h3 font-weight-medium mt-5" style="color: #293040">
            What Our Patients <br />
            Says
          </h1>
          <v-row class="mt-15">
            <v-col cols="12" sm="4" v-for="item in reviews" :key="item.id">
              <v-card class="pa-7 pt-10" style="line-height: 2rem" link>
                <h4 class="font-weight-regular" style="color: #293040">
                  {{ item.comment }}
                </h4>
                <div>
                  <v-row class="mt-8">
                    <v-col cols="12" sm="3">
                      <v-avatar class="white--text mt-1">
                        <v-img :src="item.img"></v-img>
                      </v-avatar>
                    </v-col>
                    <v-col cols="12" sm="8">
                      <h3 style="color: #708cc1">{{ item.name }}</h3>
                      <h5 class="font-weight-medium grey--text">
                        {{ item.location }}
                      </h5>
                    </v-col>
                  </v-row>
                </div>
              </v-card>
            </v-col>
          </v-row>

          <!-- our Blog -->
          <v-row class="mt-15 pt-15">
            <v-col cols="12" sm="12" class="text-center">
              <h3 style="color: #708cc1" class="font-weight-bold">OUR BLOG</h3>
              <h1
                style="color: #293040"
                class="text-h3 font-weight-medium mt-5"
              >
                From Our Blog News
              </h1>
            </v-col>
          </v-row>
          <v-row class="py-15">
            <v-col cols="12" sm="4" v-for="item in blog" :key="item.id">
              <v-card class="pa-5 py-10" link>
                <v-row>
                  <v-col cols="12" sm="3">
                    <v-avatar>
                      <v-img :src="item.img"></v-img>
                    </v-avatar>
                  </v-col>
                  <v-col cols="12" sm="9">
                    <h3 style="color: #293040">{{ item.name }}</h3>
                    <h4 class="font-weight-regular grey--text">
                      {{ item.date }}
                    </h4>
                  </v-col>
                  <v-col cols="12" sm="12">
                    <h3 style="color: #293040">{{ item.title }}</h3>
                    <h4 class="font-weight-regular grey--text mt-5">
                      {{ item.post }}
                    </h4>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>

          <!-- Our Doctors -->
          <v-row class="mt-15 pt-15">
            <v-col cols="12" sm="12" class="text-center">
              <h2 style="color: #708cc1" class="font-weight-bold">
                Our Doctors
              </h2>
            </v-col>
          </v-row>
          <v-row class="py-15">
            <v-col cols="12" sm="4" v-for="item in blog" :key="item.id">
              <v-card class="pa-5" link flat>
                <v-row>
                  <v-col cols="12" sm="12" class="text-center">
                    <v-img src="@/assets/appointment1.jpg"></v-img>
                    <h3 class="mt-5">Dr.Caudi</h3>
                    <div>
                      <v-icon color="#708cc1" size="18px">mdi-phone</v-icon>
                      <span
                        class="font-weight-light text-subtitle ml-1 grey--text"
                        >+61 452 200 126</span
                      >
                    </div>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
        <!-- Contact us -->
        <v-row
          class="text-center white--text pa-10"
          style="background-color: #404758"
        >
          <v-col cols="12" sm="12">
            <h4 style="color: #708cc1; font-weight: bold">CONTACT US</h4>
            <h1 class="text-h3 mt-3 font-weight-medium">
              Always Connect with us
            </h1>
          </v-col>
          <v-col cols="12" sm="12">
            <v-row>
              <v-col cols="12" sm="2"></v-col>
              <v-col cols="12" sm="8">
                <v-form>
                  <v-text-field
                  solo
                  background-color="white"
                  class="rounded-lg"
                  placeholder="Email Address*"
                  height="10vh"
                  dense
                >
                </v-text-field>
                <v-text-field
                  solo
                  background-color="white"
                  class="rounded-lg"
                  placeholder="Subject*"
                  height="10vh"
                  dense
                >
                </v-text-field>
                <v-textarea
                  solo
                  background-color="white"
                  class="rounded-lg"
                  placeholder="Your Message*"
                  dense
                >
                </v-textarea>
                <v-btn class="rounded-0 font-weight-bold" width="20vw" elevation="0" x-large type="submit" style="background-color:#708cc1; color: white">Submit</v-btn>
                </v-form>
              </v-col>
              <v-col cols="12" sm="2"></v-col>
            </v-row>
          </v-col>
        </v-row>
      </div>
    </div>
    <Footer />
  </div>
</template>
<script>
import NavBar from "@/components/NavBar.vue";
import Footer from "@/components/Footer.vue"

export default {
  components: {
    NavBar,
    Footer,
  },
  data() {
    return {
      reviews: [
        {
          id: 1,
          name: "Mary Jane",
          location: "California",
          comment:
            "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus quidem esse officiis quam vel tenetur neque, saepe molestiae quaerat est blanditiis itaque libero sint doloremque dolores voluptatem, quod enim delectus!",
          img: require("@/assets/patient1.jpg"),
        },
        {
          id: 2,
          name: "Winson Herry",
          location: "Los Angeles",
          comment:
            "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus quidem esse officiis quam vel tenetur neque, saepe molestiae quaerat est blanditiis itaque libero sint doloremque dolores voluptatem, quod enim delectus!",
          img: require("@/assets/patient2.jpg"),
        },
        {
          id: 3,
          name: "John Doe",
          location: "Austin, Texas",
          comment:
            "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus quidem esse officiis quam vel tenetur neque, saepe molestiae quaerat est blanditiis itaque libero sint doloremque dolores voluptatem, quod enim delectus!",
          img: require("@/assets/patient3.jpg"),
        },
      ],

      blog: [
        {
          id: 1,
          name: "Dr. Caudi",
          title: "Lorem ipsum dolor sit amet consecte.",
          date: "01 November 2023",
          post: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus quidem esse officiis quam vel tenetur neque, saepe molestiae quaerat est blanditiis itaque libero sint doloremque dolores voluptatem, quod enim delectus!",
          img: require("@/assets/blog1.jpg"),
        },
        {
          id: 2,
          name: "Dr. Helen",
          title: "Lorem ipsum dolor sit amet consecte.",
          date: "02 November 2023",
          post: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus quidem esse officiis quam vel tenetur neque, saepe molestiae quaerat est blanditiis itaque libero sint doloremque dolores voluptatem, quod enim delectus!",
          img: require("@/assets/blog2.jpg"),
        },
        {
          id: 3,
          name: "Dr.John",
          title: "Lorem ipsum dolor sit amet consecte.",
          date: "03 November 2023",
          post: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus quidem esse officiis quam vel tenetur neque, saepe molestiae quaerat est blanditiis itaque libero sint doloremque dolores voluptatem, quod enim delectus!",
          img: require("@/assets/blog3.jpg"),
        },
      ],
    };
  },
};
</script>
