<template>
  <div>
    <v-container>
      <v-row class="text-center">
        <!-- <v-col cols="12" sm="5" class="text-center white--text pa-15"  style="background-color: #3a4256">
          <h2>New here?</h2>
          <h4 class="font-weight-regular mt-3">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
            hic quis magni impedit a voluptatibus.
          </h4>
          <v-btn rounded text style="border: 2px solid" class="font-weight-bold white--text mt-8">SIGN UP</v-btn>
        </v-col> -->
        <v-spacer></v-spacer>
        <v-col cols="12" sm="5" class="pa-15">
          <h2 class="font-weight-medium">Sign in as a Patient</h2>
          <v-form class="pt-5">
            <v-text-field type="username" placeholder="username" rounded solo background-color="grey lighten-2" flat>
              </v-text-field>
            <v-text-field type="password" placeholder="Enter Your Password" rounded solo background-color="grey lighten-2" flat>
            </v-text-field>
            <v-btn type="submit" rounded large dark class="font-weight-bold" elevation="0" to="/oncostation">SIGN IN</v-btn>
          </v-form>
          <div class="mt-5">
            <h5>or are you new here?</h5>
          <h5 class="font-weight-regular mt-3">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
            hic quis magni impedit a voluptatibus.
          </h5>
          <v-btn to="/signup" rounded class="mt-5" outlined>SIGN UP</v-btn>
          </div>
        </v-col>

        <v-col cols="12" sm="5" class="pa-15">
          <h2 class="font-weight-medium">Sign in as Admin</h2>
          <v-form class="pt-5">
            <v-text-field type="username" placeholder="username" rounded solo background-color="grey lighten-2" flat>
              </v-text-field>
            <v-text-field type="password" placeholder="Enter Your Password" rounded solo background-color="grey lighten-2" flat>
            </v-text-field>
            <v-btn type="submit" rounded large dark class="font-weight-bold" elevation="0" to="/admin/oncostation">SIGN IN</v-btn>
          </v-form>
        </v-col>
        <v-spacer></v-spacer>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
