<template>
    <div>
      <v-container>
        <v-row class="text-center">
          <!-- <v-col cols="12" sm="5" class="text-center white--text pa-15"  style="background-color: #3a4256">
            <h2>New here?</h2>
            <h4 class="font-weight-regular mt-3">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
              hic quis magni impedit a voluptatibus.
            </h4>
            <v-btn rounded text style="border: 2px solid" class="font-weight-bold white--text mt-8">SIGN UP</v-btn>
          </v-col> -->
          <v-spacer></v-spacer>
          <v-col cols="12" sm="5" class="pa-15">
            <h1 class="font-weight-bold">Sign up</h1>
            <v-form class="pt-5">
              <v-text-field type="email" placeholder="Email" rounded solo background-color="grey lighten-2" flat>
              </v-text-field>
              <v-text-field type="username" placeholder="username" rounded solo background-color="grey lighten-2" flat>
              </v-text-field>
              <v-text-field type="password" placeholder="password" rounded solo background-color="grey lighten-2" flat>
              </v-text-field>
              <v-btn rounded large dark class="font-weight-bold" elevation="0" @click="dialog = true">SIGN UP</v-btn>
              <v-dialog v-model="dialog" width="350px">
                <v-card class="pa-5 text-center">
                    <h3>You have successfully created an account on oncostation</h3>
                    <v-btn outlined class="rounded-0 mt-5" to="/oncostation">login</v-btn>
                </v-card>
              </v-dialog>
            </v-form>
            <div class="mt-5">
              <h5>already have an account?</h5>
            <h5 class="font-weight-regular mt-3">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
              hic quis magni impedit a voluptatibus.
            </h5>
            <v-btn to="/" rounded class="mt-5" outlined>SIGN IN</v-btn>
            </div>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
      </v-container>
    </div>
  </template>
<script>  
export default {
  data() {
    return {
      dialog:false,
    }
  },
};
</script>

<style></style>
  