<template>
    <div>
        <v-navigation-drawer dark permanent app style="background-color: #708cc1;">
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="font-weight-bold">
            ONCOSTATION
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list
        dense
        nav
      >
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
          :to="item.link"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <template v-slot:append>
        <div class="pa-2">
          <v-btn dark block to="/" style="background-color:#404758">
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
    </div>
  </template>
  <script>
  export default {
    data () {
      return {
        items: [
          { title: 'Dashboard', icon: 'mdi-view-dashboard-outline', link:'/admin/oncostation' },
          { title: 'Appointment', icon: 'mdi-calendar-outline', link:'/admin/appointment' },
          { title: 'Patients', icon: 'mdi-account-multiple-outline', link:'/admin/patients' },
          { title: 'Settings', icon: 'mdi-cog-outline', link:'' },
        ],
        right: null,
      }
    },
  }
</script>