<template>
  <main class="text-center mt-15">
    <v-row>
      <v-col cols="12" sm="12" class="text-left px-15">
        <v-btn icon to="/appointments"><v-icon class="grey--text text--darken-3">mdi-arrow-left</v-icon></v-btn>Back
      </v-col>
      <v-col cols="12" sm="3"></v-col>
      <v-col cols="12" sm="6">
        <v-card outlined class="pa-10">
          <div class="home" v-if="status === 'home'">
            <div class="start-call-container">
              <v-form @submit="submitJoinRoom">
                <label for="room" class="font-weight-bold green--text">Get ready to start ur appointment</label>
                <v-text-field
                class="mt-5"
                solo
                background-color="grey lighten-2"
                flat
                  id="room"
                  type="text"
                  placeholder="Enter URL here..."
                  v-model="roomUrl"
                  pattern="^(https:\/\/)?[\w.-]+(\.(daily\.(co)))+[\/\/]+[\w.-]+$"
                  @input="validateInput"
                />
                <v-btn elevation="0" class="green" dark type="submit" value="Join room" :disabled="!validRoomURL"
                  >Join Appointment</v-btn
                >
              </v-form>
              <!-- Daily room URL is entered here -->
            </div>
          </div>

          <div class="call-container" :class="{ hidden: status === 'home' }">
            <!-- The Daily Prebuilt iframe is embedded in the div below using the ref -->
            <div id="call" ref="callRef"></div>
            <!-- Only show the control panel if a call is live -->
            <controls
              v-if="status === 'call'"
              :roomUrl="roomUrl"
              :callFrame="callFrame"
            />
          </div>
        </v-card>
      </v-col>
      <v-col cols="12" sm="3"></v-col>
    </v-row>
  </main>
</template>

<script>
import DailyIframe from "@daily-co/daily-js";
import Controls from "./Controls.vue";
import api from "../api.js";

const IFRAME_OPTIONS = {
  height: "auto",
  width: "100%",
  aspectRatio: 16 / 9,
  minWidth: "400px",
  maxWidth: "920px",
  border: "1px solid var(--grey)",
  borderRadius: "4px",
};

export default {
  components: { Controls },
  data() {
    return {
      roomUrl: "https://crowd.daily.co/OncoStation_1",
      status: "home",
      callFrame: null,
      validRoomURL: true,
      roomError: false,
    };
  },
  computed: {
    runningLocally() {
      return window?.location?.origin.includes("localhost");
    },
  },
  methods: {
    createAndJoinRoom() {
      api
        .createRoom()
        .then((room) => {
          this.roomUrl = room.url;
          this.joinRoom(room.url);
        })
        .catch((e) => {
          console.log(e);
          this.roomError = true;
        });
    },
    // Daily callframe created and joined below
    joinRoom(url) {
      if (this.callFrame) {
        this.callFrame.destroy();
      }

      // Daily event callbacks
      const logEvent = (ev) => console.log(ev);
      const goToLobby = () => (this.status = "lobby");
      const goToCall = () => (this.status = "call");
      const leaveCall = () => {
        if (this.callFrame) {
          this.status = "home";
          this.callFrame.destroy();
        }
      };
      // DailyIframe container element
      const callWrapper = this.$refs.callRef;

      // Create Daily call
      const callFrame = DailyIframe.createFrame(callWrapper, {
        iframeStyle: IFRAME_OPTIONS,
        showLeaveButton: true,
      });
      this.callFrame = callFrame;

      // Add event listeners and join call
      callFrame
        .on("loaded", logEvent)
        .on("started-camera", logEvent)
        .on("camera-error", logEvent)
        .on("joining-meeting", goToLobby)
        .on("joined-meeting", goToCall)
        .on("left-meeting", leaveCall);

      callFrame.join({ url, showFullscreenButton: true });
    },
    submitJoinRoom(e) {
      e.preventDefault();
      this.joinRoom(this.roomUrl);
    },
    validateInput(e) {
      this.validRoomURL = !!this.roomUrl && e.target.checkValidity();
    },
  },
};
</script>

<style></style>
