<template>
    <v-app-bar
      color="transparent"
      light
      flat
      class="px-15"
    >
      <div class="d-flex align-center">
        <h3>ONCOSTATION</h3>
      </div>

      <v-spacer></v-spacer>

      <v-btn text to="/oncostation">
        Home
      </v-btn>
      <v-btn text to="/about">
        About
      </v-btn>
      <v-btn text>
        Blog
      </v-btn>
      <v-btn text>
        Contact Us
      </v-btn>
    </v-app-bar>  
</template>

<script>
export default {

}
</script>

<style>

</style>