<template>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">
              Name
            </th>
            <th class="text-left">
             Schedule
            </th>
            <th class="text-center">
             Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in desserts"
            :key="item.name"
          >
            <td>{{ item.name }}</td>
            <td>{{ item.Schedule }}</td>
            <td><v-btn dark small>{{ item.Action }}</v-btn></td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </template>

  <script>
  export default {
    data () {
      return {
        desserts: [
          {
            name: 'Karim Ahmed',
            Schedule: "6:00am",
            Action: 'Not Visited' 
          },
          {
            name: 'John Doe',
            Schedule: '8:00am',
            Action: 'Not Visited' 
          },
        ],
      }
    },
  }
</script>