<template>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">
              No
            </th>
            <th class="text-left">
             Name
            </th>
            <th class="text-center">
             Gender
            </th>
            <th class="text-center">
             Age
            </th>
            <th class="text-center">
             Weight
            </th>
            <th class="text-center">
             Contact
            </th>
            <th class="text-center">
             Address
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in desserts"
            :key="item.name"
          >
            <td>{{ item.no }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.gender }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.contact }}</td>
            <td>{{ item.address }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </template>

  <script>
  export default {
    data () {
      return {
        desserts: [
          {
            no: '001',
            name: 'Karim Ahmed',
            gender: 'Male',
            age: '20',
            weight: '50kg', 
            contact: '+234 12 345 678 99',
            address: 'South Gazirchar, Savar, Dhaka',
          },
          {
            no: '002',
            name: 'John Doe',
            gender: 'Male',
            age: '25',
            weight: '70kg', 
            contact: '+234 26 566 999 65',
            address: 'South Gazirchar, Savar, Dhaka',
          },
        ],
      }
    },
  }
</script>